DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=tu_password_seguro_aqui
DB_NAME=pos_db
DB_PORT=5432
JWT_SECRET=genera_un_secret_aleatorio_de_64_caracteres
COOKIE_DOMAIN=146.83.198.35
FRONT_URL=http://146.83.198.35
VITE_API_URL=http://146.83.198.35/api
